<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">You're on the move!</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeActivityModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="padding text-center">
      <i class="icon ion-ios-navigate-outline icon-xl"></i>
      <p>Let us know if you are coming in, going out, or if we made a mistake in alerting you.</p>
    </div>
    <div class="list">
      <label class="item item-input item-select">
        <div class="input-label">
          Current Location
        </div>
        <select name="location-select" ng-model="viewData.selectedLocation">
          <option value="{{key}}" ng-repeat="(key, location) in viewData.groupLocations[viewData.activeGroupId] | orderBy:'title'">{{location.title}}</option>
        </select>
      </label>
      <div class="item">
        <div class="button-bar">
          <button ng-disabled="!viewData.selectedLocation" class="button button-stable" ng-click="coming()">Entering</button>
          <button ng-disabled="!viewData.selectedLocation" class="button button-stable" ng-click="going()">Leaving</button>
          <button class="button button-stable" ng-click="disregard()">Disregard</button>
        </div>
      </div>
    </div>
  </ion-content>
</ion-modal-view>
