.align-center {
	text-align: center;
}

.align-right {
	text-align: right;
}

.padding-none {
	padding: 0 !important;
}

.margin-none {
	margin: 0 !important;
}

.anchor-bottom {
	bottom: 0;
	position: absolute !important;
}