/*******************************
          Flex Layout
*******************************/
/* line 5, ../../app/styles/flex.scss */
html [layout][horizontal], html [layout][vertical] {
  display: -webkit-flex;
  display: flex;
}

/* line 11, ../../app/styles/flex.scss */
html [layout][horizontal][inline], html [layout][vertical][inline] {
  display: -webkit-inline-flex;
  display: inline-flex;
}

/* line 17, ../../app/styles/flex.scss */
html [layout][horizontal] {
  -webkit-flex-direction: row;
  flex-direction: row;
}

/* line 23, ../../app/styles/flex.scss */
html [layout][horizontal][reverse] {
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

/* line 29, ../../app/styles/flex.scss */
html [layout][vertical] {
  -webkit-flex-direction: column;
  flex-direction: column;
}

/* line 35, ../../app/styles/flex.scss */
html [layout][vertical][reverse] {
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

/* line 41, ../../app/styles/flex.scss */
html [layout][wrap] {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

/* line 47, ../../app/styles/flex.scss */
html [layout][wrap-reverse] {
  -webkit-flex-wrap: wrap-reverse;
  flex-wrap: wrap-reverse;
}

/* line 53, ../../app/styles/flex.scss */
html [flex] {
  -webkit-flex: 1;
  flex: 1;
  -webkit-flex-basis: 0.000000001px;
          flex-basis: 0.000000001px;
}

/* line 61, ../../app/styles/flex.scss */
html [vertical][layout] > [flex][auto-vertical], html [vertical][layout]::shadow [flex][auto-vertical] {
  -ms-flex: 1 1 auto;
  -webkit-flex-basis: auto;
          flex-basis: auto;
}

/* line 67, ../../app/styles/flex.scss */
html [flex][auto] {
  -ms-flex: 1 1 auto;
  -webkit-flex-basis: auto;
          flex-basis: auto;
}

/* line 73, ../../app/styles/flex.scss */
html [flex][none] {
  -webkit-flex: none;
  flex: none;
}

/* line 79, ../../app/styles/flex.scss */
html [flex][one] {
  -webkit-flex: 1;
  flex: 1;
}

/* line 85, ../../app/styles/flex.scss */
html [flex][two] {
  -webkit-flex: 2;
  flex: 2;
}

/* line 91, ../../app/styles/flex.scss */
html [flex][three] {
  -webkit-flex: 3;
  flex: 3;
}

/* line 97, ../../app/styles/flex.scss */
html [flex][four] {
  -webkit-flex: 4;
  flex: 4;
}

/* line 103, ../../app/styles/flex.scss */
html [flex][five] {
  -webkit-flex: 5;
  flex: 5;
}

/* line 109, ../../app/styles/flex.scss */
html [flex][six] {
  -webkit-flex: 6;
  flex: 6;
}

/* line 115, ../../app/styles/flex.scss */
html [flex][seven] {
  -webkit-flex: 7;
  flex: 7;
}

/* line 121, ../../app/styles/flex.scss */
html [flex][eight] {
  -webkit-flex: 8;
  flex: 8;
}

/* line 127, ../../app/styles/flex.scss */
html [flex][nine] {
  -webkit-flex: 9;
  flex: 9;
}

/* line 133, ../../app/styles/flex.scss */
html [flex][ten] {
  -webkit-flex: 10;
  flex: 10;
}

/* line 139, ../../app/styles/flex.scss */
html [flex][eleven] {
  -webkit-flex: 11;
  flex: 11;
}

/* line 145, ../../app/styles/flex.scss */
html [flex][twelve] {
  -webkit-flex: 12;
  flex: 12;
}

/* alignment in cross axis */
/* line 153, ../../app/styles/flex.scss */
html [layout][start] {
  -webkit-align-items: flex-start;
  align-items: flex-start;
}

/* line 159, ../../app/styles/flex.scss */
html [layout][center], html [layout][center-center] {
  -webkit-align-items: center;
  align-items: center;
}

/* line 165, ../../app/styles/flex.scss */
html [layout][end] {
  -webkit-align-items: flex-end;
  align-items: flex-end;
}

/* alignment in main axis */
/* line 173, ../../app/styles/flex.scss */
html [layout][start-justified] {
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

/* line 179, ../../app/styles/flex.scss */
html [layout][center-justified], html [layout][center-center] {
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 185, ../../app/styles/flex.scss */
html [layout][end-justified] {
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

/* line 191, ../../app/styles/flex.scss */
html [layout][around-justified] {
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

/* line 197, ../../app/styles/flex.scss */
html [layout][justified] {
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

/* self alignment */
/* line 205, ../../app/styles/flex.scss */
html [self-start] {
  -ms-align-self: flex-start;
  -webkit-align-self: flex-start;
          align-self: flex-start;
}

/* line 211, ../../app/styles/flex.scss */
html [self-center] {
  -ms-align-self: center;
  -webkit-align-self: center;
          align-self: center;
}

/* line 217, ../../app/styles/flex.scss */
html [self-end] {
  -ms-align-self: flex-end;
  -webkit-align-self: flex-end;
          align-self: flex-end;
}

/* line 223, ../../app/styles/flex.scss */
html [self-stretch] {
  -ms-align-self: stretch;
  -webkit-align-self: stretch;
          align-self: stretch;
}

/*******************************
          Other Layout
*******************************/
/* line 233, ../../app/styles/flex.scss */
html [block] {
  display: block;
}

/* ie support for hidden */
/* line 238, ../../app/styles/flex.scss */
html [hidden] {
  display: none !important;
}

/* line 242, ../../app/styles/flex.scss */
html [relative] {
  position: relative;
}

/* line 246, ../../app/styles/flex.scss */
html [fit] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

/* line 254, ../../app/styles/flex.scss */
body[fullbleed] {
  margin: 0;
  height: 100vh;
}
