/* line 1, ../../app/styles/helper.scss */
.align-center {
  text-align: center;
}

/* line 5, ../../app/styles/helper.scss */
.align-right {
  text-align: right;
}

/* line 9, ../../app/styles/helper.scss */
.padding-none {
  padding: 0 !important;
}

/* line 13, ../../app/styles/helper.scss */
.margin-none {
  margin: 0 !important;
}

/* line 17, ../../app/styles/helper.scss */
.anchor-bottom {
  bottom: 0;
  position: absolute !important;
}
