<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">You're on the move!</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeActivityModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <div class="padding text-center">
      <i class="icon ion-ios-navigate-outline icon-xl"></i>
      <p>Let us know if you are coming in, going out, or if we made a mistake in alerting you.</p>
    </div>
    <div class="button-bar padding">
      <button class="button button-positive" ng-click="coming()">Coming</button>
      <button class="button button-positive" ng-click="going()">Going</button>
      <button class="button button-stable" ng-click="disregard()">Disregard</button>
    </div>
  </ion-content>
</ion-modal-view>
